html {
  font-size: 10px;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  background: black;
}

#mid-box{
  display: flex;
  width: 70vw;
  height: 80vh;
  background-color: grey;
  align-items: center;
  justify-content: space-around;
  margin:auto;
  margin-top:10vh;
  border-radius: 10px;
}

#login-left{
  display: flex;
}

p{
  background-color:inherit;
  color: white;
}

